html, body
{
	font-family: helvetica, arial, sans-serif;
}

#dboard
{
	position: relative;
	width: 500px;
	height: 500px;
	font-family: helvetica, arial, sans-serif;
	font-size: 24px;
	margin-left: 50px;
}

#input-div
{
	width: 500px;
	margin-left: 50px;
	margin-bottom: 50px;
	margin-top: 50px;
}
#input
{
	margin: auto;
	width: 500px;
	font-size: 36px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px #ccc;
	border: none;
}

#rl-diag, #lr-diag
{
	border: 1px solid black;
	width: 650px;
	position: absolute;
	left: -74px;
	top: 249px;
}

#rl-diag
{
	-webkit-transform: rotate(45deg);
}

#lr-diag
{
	-webkit-transform: rotate(135deg);
}

.minor-node
{
	width: 125px;
	height: 125px;
}

#root-node
{
	position: absolute;
	left: 245px;
	top: 245px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: black;

}

.major-selected
{
	font-weight: bold;
	color: #800;
}

.minor-selected
{
	color: red;
}

/**************/
/*COMMON NODES*/
/**************/
.common
{
	position: absolute;
	font-size: 28px;
}
#common-top, #common-bottom
{
	left: -7px;
}
#common-left, #common-right
{
	top: -10px;
}

.major-selected .common
{
	color: #f55;
}

/**********/
/*TOP NODE*/
/**********/
#top-node
{
	position: absolute;
	top: 0px;
	left: 250px;
}

#tl-node
{
	position: absolute;
	top: 0px;
	left: -160px;
}

#tr-node
{
	position: absolute;
	top: 0px;
	right: -160px;
}



/************/
/*RIGHT NODE*/
/************/
#right-node
{
	position: absolute;
	top: 250px;
	right: 0px;
}

#rt-node
{
	position: absolute;
	right: 0px;
	top: -160px;
}

#rb-node
{
	position: absolute;
	right: 0px;
	bottom: -160px;
}

/*************/
/*BOTTOM NODE*/
/*************/
#bottom-node
{
	position: absolute;
	bottom: 0px;
	left: 250px;
}

#bl-node
{
	position: absolute;
	bottom: 0px;
	left: -160px;
}

#br-node
{
	position: absolute;
	bottom: 0px;
	right: -160px;
}

/***********/
/*LEFT NODE*/
/***********/
#left-node
{
	position: absolute;
	top: 250px;
	left: 0px;
}

#lt-node
{
	position: absolute;
	left: 0px;
	top: -160px;
}

#lb-node
{
	position: absolute;
	left: 0px;
	bottom: -160px;
}

/************/
/*CHARACTERS*/
/************/
.c-top
{
	position: absolute;
	top: 0px;
	left: 58px;
}

.c-right
{
	position: absolute;
	top: 50px;
	right: 0px;
}

.c-left
{
	position: absolute;
	top: 50px;
	left: 0px;
}

.c-bottom
{
	position: absolute;
	bottom: 0px;
	left: 58px;
}