#dboard
{
	position: relative;
	width: 500px;
	height: 500px;
	border: 1px solid black;
	font-family: helvetica, arial, sans-serif;
	font-size: 24px;
}

.minor-node
{
	border: 1px solid black;
	width: 125px;
	height: 125px;
}

#root-node
{
	position: absolute;
	left: 245px;
	top: 245px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	border: 1px solid black;
}

/**********/
/*TOP NODE*/
/**********/
#top-node
{
	position: absolute;
	top: 0px;
	left: 250px;
	border: 2px solid green;
}

#tl-node
{
	position: absolute;
	top: 0px;
	left: -160px;
	border-color: red;
}

#tr-node
{
	position: absolute;
	top: 0px;
	right: -160px;
}

/************/
/*RIGHT NODE*/
/************/
#right-node
{
	position: absolute;
	top: 250px;
	right: 0px;
	border: 2px solid green;
}

#rt-node
{
	position: absolute;
	right: 0px;
	top: -160px;
	border-color: red;
}

#rb-node
{
	position: absolute;
	right: 0px;
	bottom: -160px;
}

/*************/
/*BOTTOM NODE*/
/*************/
#bottom-node
{
	position: absolute;
	bottom: 0px;
	left: 250px;
	border: 2px solid green;
}

#bl-node
{
	position: absolute;
	bottom: 0px;
	left: -160px;
	border-color: red;
}

#br-node
{
	position: absolute;
	bottom: 0px;
	right: -160px;
}

/***********/
/*LEFT NODE*/
/***********/
#left-node
{
	position: absolute;
	top: 250px;
	left: 0px;
	border: 2px solid green;
}

#lt-node
{
	position: absolute;
	left: 0px;
	top: -160px;
	border-color: red;
}

#lb-node
{
	position: absolute;
	left: 0px;
	bottom: -160px;
}

/************/
/*CHARACTERS*/
/************/
.c-top
{
	position: absolute;
	top: 0px;
	left: 58px;
}

.c-right
{
	position: absolute;
	top: 50px;
	right: 0px;
}

.c-left
{
	position: absolute;
	top: 50px;
	left: 0px;
}

.c-bottom
{
	position: absolute;
	bottom: 0px;
	left: 58px;
}